<%-include('../layouts/header.ejs') %>
<%-include('../layouts/sidebar.ejs') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Main content -->
            <div class="content">
                <p style="color: orange;font-size: 17px;"><b>Display Student</b> </p>
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Display Students</h3>
                      <button type="button" class="btn btn-info" style="float: right;" data-toggle="modal" data-target="#addstudent">
                      Add student
                      </button>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Email</th>
                       
                          <th>Action</th>
                        </tr>
                      </thead>
                      <% d.forEach((item)=>{ %>
                        <tbody>
                          

                          
                          
                          <tr>
                            <td><%= item._id %></td>
                            <td><%= item.name %> </td>
                            <td><%= item.email %></td>
                           
                            <td>
                              <a href="/admin/studentview/<%= item._id %>" class="btn btn-info">View</a>
                              <a href="/admin/editstudent/<%= item._id %>" class="btn btn-success">Edit</a>
                              <a href="/admin/studentdelete/<%= item._id %>" class="btn btn-danger">Delete</a>
                            </td>
                          </tr>
                          
                         
                          </tbody> 
                          <% }) %>
                        <tfoot>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Email</th>
                        
                          <th>Action</th>
                        </tr>
                        </tfoot>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->

                  <!-- modal default starts -->
                  <div class="modal fade" id="addstudent">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Add student</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="/studentinsert" method="post">
                            <div class="form-group">
                              <label for="">Name</label>
                              <input type="text" class="form-control" name="name" required>
                              </div>
                              
                              <div class="form-group">
                                <label for="">Email</label>
                                <input type="email" class="form-control" name="email" required>
                                </div>
                              
                                <div class="form-group">
                                  <label for="">Password</label>
                                  <input type="password" class="form-control" name="password" required>
                                  </div>
                                  
                                    <button class="btn btn-success" type="submit">Submit</button>
                                        
                          </form>
                        </div>
                       
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
<%-include('../layouts/footer.ejs') %>
