<%-include('../layouts/header.ejs') %>
<%-include('../layouts/sidebar.ejs') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Main content -->
            <div class="content">
                
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Edit Student</h3>
                     
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form action="/admin/studentupdate/<%= d._id %>" method="post">
                            <div class="form-group">
                              <label for="">Name</label>
                              <input type="text" value=" <%= d.name %>" class="form-control" name="name" required>
                              </div>
                              
                              <div class="form-group">
                                <label for="">Email</label>
                                <input type="email" value=" <%= d.email %>" class="form-control" name="email" required>
                                </div>
                              
                                <div class="form-group">
                                  <label for="">Password</label>
                                  <input readonly value=" <%= d.password %>" type="password" class="form-control" name="password" required>
                                  </div>
                                  
                                    <button class="btn btn-success" type="submit">Update</button>
                                        
                          </form>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->

                 
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
<%-include('../layouts/footer.ejs') %>
